<div class="footer">
  <b>1.1.0</b><br/>
  <i>Curently used by {{guildCount}} guilds with {{botCount}} active Discord bots</i><br/>
  <span>Found a bug?  <a target="_new" href="https://discord.gg/a4kVKJN">Report it here</a></span>
</div>
<br/>
