<div id="help-content">

<div class="card">
  <div class="card-body">
  <h4 class="card-title">tl;dr</h4>
      <div>EP: <a href="#effortpoints">Effort Points</a> - Given out by your guild for positive things like attendance, killing dragons, and farming mats.</div>
      <div>GP: <a href="#gearpoints">Gear Points</a> - Earned by you for taking gear</div>
      <div>PR: <a href="#priorityranking">Priority Ranking</a>&nbsp;&nbsp;&nbsp;
      <math xmlns="http://www.w3.org/1998/Math/MathML">
        <mrow>
          <mfrac>
            <mrow>
              <mo>EP</mo>
            </mrow>
            <mrow>
              <mn>GP</mn>
            </mrow>
          </mfrac>
        </mrow>
      </math>&nbsp;&nbsp;&nbsp;The value used to determine who gets what loot (higher is better)</div>
  </div>
</div>
<br/><br/>
<a name="effortpoints"></a>
<div class="card">
  <div class="card-body">
  <h4 class="card-title">Effort Points</h4>
      <p>
        Effort points are earned.  Guilds can decide how best to hand them out; however, common methods include: X amount for killing a boss.
        Y amount every 15 minutes in the raid (or on standby).  Guild leadership can provide EP for anything!  Farming fire pots?  EP!  Helping 
        attune people? EP!  Who gets what is up to YOUR GUILD and your guild alone.  What works for one guild might not work for another.
      </p>
      <p>
        These points earned are inflationary by nature.  The <a href="#decay">Decay</a> in the system will handle keeping hoarding in check.  
        The reason why the inflation does not matter is because it is the ratio of EP / GP that matters.  So long as everyone has an equal way 
        to gain EP, there should be no imbalance.  If you hand out millions of EP, you'd be doing ratios like 750 vs 800.  If you're handing out 
        tens of EP, it might be .075 vs .080.  Again, the EP / GP ratio compared to other member's ratio matters, not the actual value.
      </p>
  </div>
</div>
<br/><br/>
<a name="gearpoints"></a>
<div class="card">
  <div class="card-body">
  <h4 class="card-title">Gear Points</h4>
      <p>Gear points are calculated by this standard formula:<br/><br/>
      <math xmlns="http://www.w3.org/1998/Math/MathML">
        <mi>BASE_GP</mi>
        <mo>&#xD7;</mo>
        <msup>
          <mi>2</mi>
          <mn>
            <mo>(</mo>
            <mfrac>
              <mrow>
                <mi>LEVEL</mi>
                <mo>-</mo>
                <mi>STANDARD_ILVL</mi>
              </mrow>
              <mrow>
                <mi>ILVL_DENOMINATOR</mi>
              </mrow>
            </mfrac>
            <mo>&#xD7;</mo>
            <mi>SLOT_SCALE</mi>
            <mo>)</mo>
          </mn>
        </msup>
      </math><br/>
      </p>
      <p>If you download the EPGP Classic Addon, it will show the GP value for items in the tooltip.</p>
  </div>
</div>
<br/><br/>
<a name="priorityranking"></a>
<div class="card">
  <div class="card-body">
  <h4 class="card-title">Priority Ranking</h4>
      <p>
        This is the number that affects who loots what.  The full formula for calculating this is:<br/><br/>
        <math xmlns="http://www.w3.org/1998/Math/MathML">
          <mrow>
            <mo>PR</mo>
            <mo>=</mo>
            <mfrac>
              <mrow>
                <mo>EP</mo>
              </mrow>
              <mrow>
                <mn>BASE_GP + EARNED_GP</mn>
              </mrow>
            </mfrac>
          </mrow>
        </math>
      </p>
      <p>
        This value can range anywhere from thousands earned divided by <a href="#basegp">Base GP</a> (no loot taken yet) to thousands divided by thousands.
        The actual size of this number does not matter.  The order in relation to everyone else is what matters.
      </p>
      <h6>Example:</h6>
      <table id="exampleTable" class="table table-sm table-bordered table-striped table-dark">
        <thead>
          <tr><td>Member</td><td>EP</td><td>GP</td><td>PR</td></tr>
        </thead>
        <tr><td>Alpha</td><td>4800</td><td>3250</td><td>{{div 4800 3250}}</td></tr>
        <tr><td>Bravo</td><td>1250</td><td>1500</td><td>{{div 1250 1500}}</td></tr>
        <tr><td>Charlie</td><td>5200</td><td>9000</td><td>{{div 5200 9000}}</td></tr>
      </table>
      <p>In this example, Alpha has a much higher PR than Bravo or Charlie so they would be first in line for loot.  Even though Bravo has far fewer EP than Charlie, his PR ratio is higher so Bravo would be next in line for loot with Charlie being last due to the high GP (gear taken) making his ratio lower than the rest.</p>
  </div>
</div>
<br/><br/>
<a name="decay"></a>
<div class="card">
  <div class="card-body">
  <h4 class="card-title">Decay</h4>
    <p>
      The key component of EP/GP is decay.  This is what makes the system viable over the long term.  It both decays EP -AND- GP so that effort you put in 4 weeks ago 
      benefits you less than effort put in last week AND the loot you took 4 weeks ago affects you less than the loot you took last week.  The goal here is to incentivize 
      consistent week to week attendance and allowing new members to jump right into the fray without starting too far behind.  It also lets someone take a TON of gear 1 
      week not be "in debt" forever.  Their "debt" will decay week by week.
    </p>
    <p>
      Decay values can vary from guild to guild.  Normal levels of decay vary between 10-30%.  Obviously, higher decay = &quot;What have you done for me lately&quot; more 
      than lower levels of decay.  The lower the decay, the higher a points hoarder can maintain a perma-lead and the longer loot affects the bottom line.
    </p>
  </div>
</div>
<br/><br/>
<a name="basegp"></a>
<div class="card">
  <div class="card-body">
  <h4 class="card-title">Base GP</h4>
    <math xmlns="http://www.w3.org/1998/Math/MathML">
      <mrow>
        <mo>TOTAL_GP</mo>
        <mo>=</mo>
        <mn>BASE_GP + EARNED_GP</mn>
      </mrow>
    </math><br/><br/>
    <p>
      Base GP is the &quot;floor&quot; of how low your GP can be.  It's also where you start at so that your initial PR is 0 (0 EP earned divided by BASE_GP -- a positive, non-zero number)
    </p>
    <p>
      Higher values of BASE_GP will mean that new recruits or long time inactive members will start at a lower ratio than most.  It is important to remember, however, that PR is what matters.
      Setting BASE_GP to a modest level (about the cost of 1 item) will set someone back just enough so that they have to earn their place in line, but it won't be so far back that they're on rot 
      loot duty forever.
    </p>
    <p>
      <b>Example 1000 BASE_GP, 200 EP per kill:</b><br/><br/>
      Noob @ Lucifron: 0/1000 = 0.0 PR<br/>
      Legend @ Lucifron: 7500/5000 = 1.5 PR<br/><br/>
      Noob @ Garr: 800/1000 = 0.8 PR<br/>
      Legend @ Garr: 8300/5000 = 1.67 PR<br/><br/>
      Noob @ Ranaros: 1600/1000 = 1.6 PR<br/>
      Legend @ Ragnaros: 8300/5000 = 1.82 PR<br/>
    </p>
    You can see how while Noob started behind, he was able to almost catch up to Legend by the end as it relates to PR.  Setting a BASE_GP at a higher level would mean that Noob would have more to 
    catch up on.  A lower level would mean that Noob would climb the prority ranking faster.  Once again, remember that it's the PR that matters!
  </div>
</div>
<br/><br/>  
<a name="mineep"></a>
<div class="card">
  <div class="card-body">
  <h4 class="card-title">Minimum EP</h4>
    <p>
      Minimum EP is exactly what it sounds like.  It's a way to have a mathmeatical attendance check to be eligible for loot.  Because you only lose EP through decay, the loot master can consider how
      much EP is earned on average and calculate how many typical raids someone could miss to maintain an EP of X where X is ideally somewhere above Minimum EP.  If you're not interested in attendance
      checks, leaving this value at 0 is fine.
    </p>
    <p>
      <b>Example 1000 EP earned per raid, MIN_EP = 1000, 10% decay:</b><br/><br/>
      Flaky raids @ Week 1: 1000<br/>
      Flaky absent @ Week 2: 900<br/>
      Flaky absent @ Week 3: 800<br/>
      Flaky absent @ Week 4: 700<br/>
      Flaky tries to loot something with a PR of 0.7, but is passed over for someone else because their EP was &lt; MIN_EP<br/>
    </p>
  </div>
</div>
