{{#if guild.admin}}
  <div style="float:right;">
    <div><a class="btn btn-secondary" target="_new" href="{{botUrl}}" role="button">Add Discord Bot</a></div>
  </div>
{{/if}}
<h2>{{guild.name}} Bot</h2>
