<div id="help-content">
  
<h1><a name="Effort_Points"></a>Effort Points</h1>

<h2><a name="Introduction"></a>Introduction</h2>

<p>Effort points (EP) are given out of members of the guild for
multiple activities/actions all depending on the guild's
policies. Examples could be:</p>

<ul>
  <li>Being on time for raids</li>
  <li>Just because you are raiding or are on standby</li>
  <li>Killing bosses</li>
  <li>Wiping on new boss tries</li>
  <li>Being present until the end of raid</li>
  <li>Being extraordinarily helpful to the guild (making pots for a
    specific fight)</li>
  <li>Doing some grunt work noone wants to tackle, like updating the
    guild's website</li>
</ul>

<h2><a name="Implementation"></a>Implementation</h2>

<p>Obviously EP awards vary from guild to guild. What is important for
EP is that the relative effort between awards is something that makes
sense to you and makes it fair for the whole guild. Since fairness in
this case is something subjective, the addon cannot possibly give
recommendations for it.</p>

<h2><a name="Example"></a>Example</h2>

<p>With the above in mind, here is an extremely simple, award scheme:</p>

<ul>
  <li>Raid and standby get the same EP including bonuses. There is no
difference between being in or out of the raid as long as you are
prepared.</li>
  <li>1000 EP per 15m while in raid or standby for a raid.</li>
  <li>Bonus EP points to the raid and standby when execution of boss
    fights is perfect, but only until the boss is still reasonably
    hard. This is entirely to the discretion of the guild master or
    commanders (only 1 GM and 1 commander are currently in
    place).</li>
</ul>

<div class="warn"><strong>Disclaimer</strong>: the above
will <strong>NOT</strong> work for all guilds. Each guild has its own goals, social
interactions and intricacies that make EP awards something you will
have to tailor to your guild.</div>

</div>
