<div id="help-content">
  
<h1><a name="Gear_Points"></a>Gear Points</h1>

<h2><a name="Introduction"></a>Introduction</h2>

<p>Each item in WoW has a certain power. Its power is determined by
its slot, its rarity and its ilvl. The slot and rarity of each item
are visible in the game. The ilvl is something that is not shown but
it represents how powerful that item is in the specific slot and
rarity. For example not all epics are equal. An epic form heroic raid
dungeons is 13 item levels higher than epics from normal raid dungeons
and as such it is quite a bit more powerful.</p>

<h2><a name="Definitions"></a>Definitions</h2>

<table>
  <tbody><tr><td>Item budget</td><td>The sum of the stats of an item. See <a href="http://www.wowwiki.com/Item_level" rel="nofollow">Item Level</a> for more information</td></tr>
  <tr><td>Item level or short <em>ilvl</em></td><td>The item level of an item is what determines its item budget in the same rarity and slot</td></tr>
  <tr><td>Slot or item slot</td><td>The slot in which the item can be equipped</td></tr>
  <tr><td>Rarity</td><td>The rarity of an item. Examples are uncommon, rare, epic, legendary</td></tr>
  <tr><td>Tier</td><td>A loot tier. Molten Core was Tier 1, Blackwing Lair Tier 2, and so on</td></tr>
  <tr><td>Class</td><td>The class of a toon: Warrior, Priest, Rogue, and so on</td></tr>
  <tr><td>Spec</td><td>The spec a class plays: Protection, Arms, Fury, Restoration, and so on</td></tr>
  <tr><td>White stats</td><td>The inherent stats of an item which do not depend on choices of Blizzard's itemization. These are: armor of an item, white dps on a weapon</td></tr>
  <tr><td>Green stats</td><td>All the stats that are not <em>white stats</em> on an item</td></tr>
</tbody></table>

<h2><a name="Design_of_the_GP_formula"></a>Design of the GP formula</h2>

<p>When designing the GP formula the following requirements were
set:</p>

<ul>
  <li>Total GP for each class/spec should be ideally the same.</li>
  <li>Items of a whole new and better tier should be increasingly more
    expensive. A factor of two was chosen for each tier.</li>
  <li>Each item should cost as much GP as it's power according to
    the class/spec that uses it.</li>
</ul>

<p>While the relative item budget between slots is widely known
(<a href="http://www.wowwiki.com/Item_level" rel="nofollow">Item
Level</a>) there are class/spec combinations for which an item is more
beneficial than others. These depend on how the class/spec is designed
and what kind of stats it prefers or primarily uses. The cases we are
more interested in are:
</p>

<ul>
  <li>Shields: A tanking shield is used by shield capable tanking
    classes. In that case a tank is interested in both the white stats
    and the green stats of an item. A healing shield, which is used by
    shield capable healers, is used primarily, if not exlusively, for
    its green stats. This should be taken into account by the GP
    formula.</li>
  <li>Weapons: Melee classes use both the green and white stats of a
    weapon. Both the dps of the weapon and the stats on it are
    useful. The white stats of a weapon are not at all useful for a
    hunter. This also needs to be taken into consideration. Note:
    Casters get the white dps of a weapon and make it into spell power
    through some fixed formulas, so spell power on weapons is
    considered a white stat.</li>
  <li>Ranged weapons: Hunters use ranged weapons for both their white
    stats and the green stats. This is not true for melee classes
    which use these items only for their green stats.</li>
  <li>Off-hand weapons: These weapons are used by dual wielding
    classes/specs and because of the off hand weapons 50% damage
    modifier, the white stats on these items are severely less
    important. Obviously GP needs to account for this as
    well.</li>
</ul>

<p>With the above in mind the following formula was devised:</p><p>GP
= 0.483 x 2 <sup>ilvl/26 + (rarity - 4)</sup> x slot mod</p>

<p>Rarity is given by this
table:</p>

<table>
  <tbody><tr><th>Rarity</th><th>Value</th></tr>
  <tr><td>Uncommon <em>(Green)</em></td><td>2</td></tr>
  <tr><td>Rare <em>(Blue)</em></td><td>3</td></tr>
  <tr><td>Epic <em>(Purple)</em></td><td>4</td></tr>
  <tr><td>Legendary <em>(Orange)</em></td><td>5</td></tr>
</tbody></table>

<p>Slot modifiers depend on the slot each item can be equipped. In
addition to that, the forementioned differences between the use of
certain weapons/offhands is taken into consideration. This means some
items have two possible GP values which depending on who uses them and
how they are used.</p>

<p>The basic values slot modifiers for each slot
are:</p>

<table>
  <tbody><tr><th>Slot</th><th>mod</th></tr>
  <tr><td>2H Weapon</td><td>2</td></tr>
  <tr><td>1H Weapon</td><td>1.5</td></tr>
  <tr><td>Head, Chest, Legs, 2H weapon</td><td>1</td></tr>
  <tr><td> Shoulder, Hands, Waist, Feet, Trinket</td><td>0.75</td></tr>
  <tr><td> Wrist, Neck, Back, Finger, Off-hand, Shield, Wand, Ranged Weapon</td><td>0.5</td></tr>
</tbody></table>

<p>Under certain circumstances a different modifier is used. These
are:</p>

<ul>
  <li>2H Weapon:
    <ul>
      <li>If it is going to be used as an offhand (TG warriors for
        example) the modifier becomes 1 (down from 2)</li>
      <li>If it is going to be used by a hunter the modifier becomes 1
        (down from 2)</li>
    </ul>
  </li>
  <li>1H Weapon:
    <ul>
      <li>If it is going to be used by a hunter the modifier becomes 0.5
        (down from 1.5)</li>
      <li>If it is going to be used by a tank for tanking purposes the
        modifier becomes 0.5 (down from 1.5)</li>
      <li>If it is going to be used as an off-hand the modifier becomes
        0.5 (down from 1.5)</li>
    </ul>
  </li>
  <li>Shield:
    <ul>
      <li>If it is going to be used by a tank for tanking purposes the
        modifier becomes 1.5 (up from 0.5)</li>
    </ul>
  </li>
  <li>Ranged:
    <ul>
      <li>If it is going to be used by a hunter the modifier becomes 1.5
        (up from 0.5)</li>
    </ul>
  </li>
</ul>

<p>This gives more or less equal GP value for MH + OH + Ranged slots
for all classes:</p>

<table>
  <tbody><tr><th>Class/Spec</th><th>MH</th><th>OH/Shield</th><th>Ranged</th><th>Total</th></tr>
  <tr><td>Tank with shield</td><td>0.5</td><td>1.5</td><td>0.5</td><td>2.5</td></tr>
  <tr><td>2H melee</td><td>2</td><td>-</td><td>0.5</td><td>2.5</td></tr>
  <tr><td>Hunter 2H</td><td>1</td><td>-</td><td>1.5</td><td>2.5</td></tr>
  <tr><td>Hunter MH+OH</td><td>0.5</td><td>0.5</td><td>1.5</td><td>2.5</td></tr>
  <tr><td>Dual-wield 2H</td><td>2</td><td>1</td><td>0.5</td><td>3.5</td></tr>
  <tr><td>Caster with shield</td><td>1.5</td><td>0.5</td><td>0.5</td><td>2.5</td></tr>
</tbody></table>

<p>As shown by the table most classes end up with the same totals,
with the exception of TG warriors that are charged a little bit
extra.</p>

<h2><a name="Examples"></a>Examples</h2>

<p>With the theory out of the way lets see some examples of items and
how different components of the equation affect GP.</p>

<p>A tier of gear difference. Both items are epic 2H weapons, but they
have a whole tier of loot difference:</p>

<ul>
  <li><a href="http://www.wowhead.com/?item=40384" rel="nofollow">Betrayer of Humanity</a> 399 GP</li>
  <li><a href="http://www.wowhead.com/?item=37852" rel="nofollow">Colossal Skull-Clad Cleaver</a> 199 GP</li>
</ul>

<p>As expected the higher tier item is 2x as much GP as the lower tier
one. Now lets see two items of the same ilvl, same slot but different
rarity:</p>

<ul>
  <li><a href="http://www.wowhead.com/?item=37852" rel="nofollow">Colossal Skull-Clad Cleaver</a> 199 GP</li>
  <li><a href="http://www.wowhead.com/?item=37733" rel="nofollow">Mojo
         Masked Crusher</a> 99 GP</li>
</ul>

<p>Again as expected the two items have a 2x GP difference between the
two weapons because the one is epic and the other one is rare. With
the rarity and tiers out of the equation lets look at the whole tier
7.10 set for the warrior class:</p>

<ul>
  <li><a href="http://www.wowhead.com/?item=39605" rel="nofollow">Heroes' Dreadnaught Helmet</a> 99 GP</li>
  <li><a href="http://www.wowhead.com/?item=39606" rel="nofollow">Heroes' Dreadnaught Battleplate</a> 99 GP</li>
  <li><a href="http://www.wowhead.com/?item=39607" rel="nofollow">Heroes' Dreadnaught Legplates</a> 99 GP</li>
  <li><a href="http://www.wowhead.com/?item=39608" rel="nofollow">Heroes' Dreadnaught Shoulderplates</a> 74 GP</li>
  <li><a href="http://www.wowhead.com/?item=39609" rel="nofollow">Heroes' Dreadnaught Gauntlets</a> 74 GP</li>
</ul>

<p>As you can see both shoulders and hands are 0.75x of the cost of
the head, chest and leg items since their relative power is 0.75x as
much.</p>

</div>
