<div style="text-align: center;">
  <iframe 
      style="margin-right: auto; margin-left: auto; width: 560px; height: 315px;"
      src="https://www.youtube.com/embed/DRXUDUMeSkY"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
      allowfullscreen>
  </iframe>
</div>
