<div class="container mainpage">
  <div class="alert alert-info" role="info">
    <h4>1.8.0 - 2026-01-03</h4>
    <ul>
      <li>The Discord bot functionality has been removed.  Webhook functionality still works as intended.</li>
      <li><a href="https://epgp.trumpetx.com">epgp.trumpetx.com</a> is the new home for EPGP.net.  The old epgp.net domain has been set to redirect to the new site and will expire soon.</li>
    </ul>    
  </div>
  <div class="alert alert-info" role="info">
    <h4>1.7.0 - 2023-05-14</h4>
    <a target="_new" href="https://www.curseforge.com/wow/addons/classic-loot-manager">Classic Loot Manager</a> (CLM) support has been added.  Please <a target="_new" href="https://discord.gg/a4kVKJN">reach out</a> if you are a CEPGP or EPGP Classic user and notice that something is broken.
    <br/><br/>
    The Discord bot has been offline for quite some time due to a Discord API change.  <u>Webhook functionality still works as intended</u>!  Unless there is a strong desire to bring back the bot, I will most likely disable the feature entirely in the next update.
    <br/><br/>
    EPGP Classic is no longer supported by the author.  The addon does work (as well as the older 3.3.5a DKP Reloaded for private servers), but you can expect that it won't work past Wrath Classic.  Consider changing to <a target="_new" href="https://www.curseforge.com/wow/addons/cepgp">CEPGP</a> or <a target="_new" href="https://www.curseforge.com/wow/addons/classic-loot-manager">CLM</a> .
  </div>
</div>
