<div class="container mainpage">
  <div class="row">
    <div class="col-lg">
      <p align="center">
        <iframe
            style="margin-right: auto; margin-left: auto; width: 560px; height: 315px;"
            src="https://www.youtube.com/embed/DRXUDUMeSkY"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <h4>Create New Server</h4>
      <a href="/new_server.gif" target="_new"><img src="/new_server.gif" alt="New Server Help"></a>
    </div>
    <div class="col-sm">
      <h4>Add a Webhook</h4>
      <a href="/add_webhook.gif" target="_new"></a><img src="/add_webhook.gif" alt="Webhook Help"></a>
    </div>
    <div class="col-sm">
      <h4>Customize Roster</h4>
      <a href="/add_class_colors.gif" target="_new"></a><img src="/add_class_colors.gif" alt="New Server Help"></a>
    </div>
    <div class="col-sm">
      <h4>Discord Bot</h4>
      <a href="/discord_bot.gif" target="_new"></a><img src="/discord_bot.gif" alt="New Server Help"></a>
    </div>
  </div>
</div>
